:root {
    /* PALETTE */
    --color-dark-stronger: hsl(0, 0%, 5%);
    --color-dark-stronger-rgb: 13, 13, 13;
    --color-light-stronger: #fff;

    --color-neutral-regular: hsl(0, 0%, 44%);
    --color-neutral-light: hsl(0, 0%, 77%);
    --color-neutral-ighter: hsl(0, 0%, 90%);
    --color-neutral-lightest: hsl(0, 0%, 94%);
    --color-neutral-background: hsl(240, 7%, 97%);

    --color-primary-stronger: hsl(336, 100%, 24%);
    --color-primary-strong: hsl(336, 100%, 36%);
    --color-primary-regular: hsl(336, 100%, 50%);
    --color-primary-light: hsl(336, 100%, 73%);
    --color-primary-lighter: hsl(336, 100%, 90%);
    --color-primary-lightest: hsl(336, 100%, 96%);

    --color-secondary-stronger: hsl(51, 78%, 32%);
    --color-secondary-strong: hsl(51, 100%, 41%);
    --color-secondary-regular: hsl(51, 100%, 55%);
    --color-secondary-light: hsl(51, 100%, 75%);
    --color-secondary-lighter: hsl(51, 100%, 86%);
    --color-secondary-lightest: hsl(51, 100%, 95%);

    --color-tertiary-stronger: hsl(249, 100%, 24%);
    --color-tertiary-strong: hsl(249, 100%, 40%);
    --color-tertiary-regular: hsl(249, 100%, 50%);
    --color-tertiary-light: hsl(249, 100%, 65%);
    --color-tertiary-lighter: hsl(249, 100%, 92%);
    --color-tertiary-lightest: hsl(249, 100%, 96%);

    /* SPACING */
    --spacer: 8px; /* 1unit - 8px */

    --rhythm-0_25: calc(var(--spacer) * .25);  /*   .25 unit -   2px */
    --rhythm-0_5: calc(var(--spacer) * .5);    /*   .5  unit -   4px */
    --rhythm-1: var(--spacer);                 /*  1    unit -   8px */
    --rhythm-1_5: calc(var(--spacer) * 1.5);   /*  1.5  unit -  12px */
    --rhythm-2: calc(var(--spacer) * 2);       /*  2    unit -  16px */
    --rhythm-3: calc(var(--spacer) * 3);       /*  3    unit -  24px */
    --rhythm-4: calc(var(--spacer) * 4);       /*  4    unit -  32px */
    --rhythm-5: calc(var(--spacer) * 5);       /*  5    unit -  40px */
    --rhythm-6: calc(var(--spacer) * 6);       /*  6    unit -  48px */
    --rhythm-7: calc(var(--spacer) * 7);       /*  7    unit -  56px */
    --rhythm-8: calc(var(--spacer) * 8);       /*  8    unit -  64px */
    --rhythm-9: calc(var(--spacer) * 9);       /*  9    unit -  72px */
    --rhythm-10: calc(var(--spacer) * 10);     /*  10   unit -  80px */
    --rhythm-12: calc(var(--spacer) * 12);     /*  12   unit -  96px */
    --rhythm-14: calc(var(--spacer) * 14);     /*  14   unit - 112px */
    --rhythm-16: calc(var(--spacer) * 16);     /*  16   unit - 128px */
    --rhythm-20: calc(var(--spacer) * 20);     /*  20   unit - 160px */
    --rhythm-22: calc(var(--spacer) * 22);     /*  22   unit - 176px */
    --rhythm-24: calc(var(--spacer) * 24);     /*  24   unit - 192px */
    --rhythm-28: calc(var(--spacer) * 28);     /*  28   unit - 224px */
    --rhythm-32: calc(var(--spacer) * 32);     /*  32   unit - 256px */
    --rhythm-40: calc(var(--spacer) * 40);     /*  40   unit - 320px */
    --rhythm-48: calc(var(--spacer) * 48);     /*  48   unit - 384px */
    --rhythm-56: calc(var(--spacer) * 56);     /*  56   unit - 448px */
    --rhythm-64: calc(var(--spacer) * 64);     /*  64   unit - 512px */

    /* TYPOGRAPHY */
    --font-size-base: 16px;
    --font-size-small: 13px;
    --font-weight-body: 300;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
    --line-height-body: calc(var(--font-size-base) * 1.25);
    --font-family-body: 'Source Sans Pro', sans-serif;
    --font-size-title-m-mobile: calc(var(--font-size-base) * 1.125);
    --font-size-title-m: calc(var(--font-size-base) * 1.25);
    --font-weight-title-m: var(--font-weight-semi-bold);
    --line-height-title-m-mobile: calc(var(--font-size-base) * 1.625);
    --line-height-title-m: calc(var(--font-size-base) * 1.75);

    /* TRANSITIONS */
    --transition-superfast: 0.16s ease-in-out;
    --transition-fast: 0.24s ease;
}
